@model Partify.ViewModels.Home.IndexVM
    
@{
    ViewBag.Title = "Partify!";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<p> Welcome to the Partify app! </p>
<p> Here you can create parties and join them for others to see.</p>

<p> Our motto is: <strong> Noone needs a party more than someone who just woke up from one. </strong></p>

<p> Enjoy!!! </p>